<div class="form-header">
  <div class="container">
    <% provide(:title, @user.name) %>
      <div class="row">
        <aside class="span4">
          <section>
            <h1>
              <%#= gravatar_for @user %>
              <%= image_tag @user.image_url %>
              <%= @user.name %>
            </h1>
          </section>
        </aside>
        <br>
        <br>
      <div class="container">
        <%= @user.inspect %>
      </div>
    </div>
  </div>
</div>